* {
  color: black;
  font-family: monospace;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
span {
  color: #ffffff;
}
header, footer, .sidebar, .main {
  margin: 0.5%;
}

.colors {
  border: 3px solid black;
  margin: 0.5%;
  padding: 10px;
  font-size: xx-large;
  cursor: pointer;
}
@media (max-width: 480px) {
  .colors {
    font-size: x-large;
  }
}
